@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Oxygen:wght@400;700&family=Shantell+Sans:wght@700&family=Signika:wght@300;400;500;600;700&display=swap');

html {

    height: 100vh;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: url("../images/mum_icons_faded1.png");
    background-repeat: repeat;
    background-size: auto;
    background-position: center;
    font-family: Shantell Sans, sans-serif;
    font-weight: 600;
    font-display: swap;
    margin: 0;


}


.main-content {
    flex: 1 0 auto;
}




nav .brand-logo {
    font-family: Dancing Script, sans-serif;
    font-weight: 700;
    font-size: 2.5rem;
    padding-left: 20px;
}

.query-input {
    border-radius: 15px;
    width: 80%;
    display: flex;
    align-items: center;

}

#query-text {
    text-align: center;

}

.top-heading {
    background: hsla(311, 74%, 87%, 1);
    background: linear-gradient(90deg, hsla(311, 74%, 87%, 1) 0%, hsla(275, 19%, 88%, 1) 100%);
    background: -moz-linear-gradient(90deg, hsla(311, 74%, 87%, 1) 0%, hsla(275, 19%, 88%, 1) 100%);
    background: -webkit-linear-gradient(90deg, hsla(311, 74%, 87%, 1) 0%, hsla(275, 19%, 88%, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#F6C4ED", endColorstr="#E1DAE6", GradientType=1);
    margin-top: 20px;
    -webkit-box-shadow: 10px 15px 12px -3px #691E76;
    box-shadow: 10px 15px 12px -3px #691E76;
    border-radius: 30px;


}

.card {
    -webkit-box-shadow: 10px 15px 12px -3px #691E76;
    box-shadow: 10px 15px 12px -3px #691E76;
    border-radius: 30px;
}

.card-panel {
    -webkit-box-shadow: 10px 15px 12px -3px #691E76;
    box-shadow: 10px 15px 12px -3px #691E76;
    border-radius: 30px;
}



.container-add-todo {
    max-width: 70%;
    margin: 0 auto;
    background: hsla(298, 68%, 90%, 1);

    background: linear-gradient(90deg, hsla(298, 68%, 90%, 1) 0%, hsla(30, 82%, 91%, 1) 100%);

    background: -moz-linear-gradient(90deg, hsla(298, 68%, 90%, 1) 0%, hsla(30, 82%, 91%, 1) 100%);

    background: -webkit-linear-gradient(90deg, hsla(298, 68%, 90%, 1) 0%, hsla(30, 82%, 91%, 1) 100%);

    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#F6D5F7", endColorstr="#FBE9D7", GradientType=1);
}

.prefix {
    color: purple;
}

.prefix.active {
    color: rgb(220, 20, 110) !important;
}

.dropdown-content li>span {

    color: rgb(220, 20, 110);
}

/* textarea.materialize-textarea:focus:not([readonly])+label {
    color: rgb(220, 20, 110);

}

input.invalid[type=text]:not(.browser-default):focus {
    color: rgb(220, 20, 110);
}


input.invalid[type=text]:not(.browser-default):focus {
    border-bottom: 1px solid purple;

    box-shadow: 0 1px 0 0 purple;
}

new-item:focus {
    color: rgb(220, 20, 110);
} */

.datepicker-date-display {
    background-color: purple;
}

.datepicker-cancel,
.datepicker-done {
    color: #5e2056;
}

.datepicker-table td.is-selected {
    background-color: rgb(220, 159, 186);
    color: white;
}

.datepicker-table td.is-today {
    color: rgb(220, 20, 110);
}


.switch label input[type=checkbox]:checked+.lever:after {
    background-color: rgb(220, 20, 110);
}


.switch label input[type=checkbox]:checked+.lever {
    background-color: #c784a9;
}



.flashes h4 {
    line-height: 2;
}

.select-dropdown {
    font-family: Shantell Sans;
}

.btn {
    font-family: Shantell Sans;

}

.buttons {

    border-radius: 15px;
}

.buttons:hover,
.btn-small:hover,
#search-btn:hover {
    background-color: #5e2056;
    cursor: pointer;
    box-shadow: 0 0.4rem 0.4rem 0 rgb(88, 4, 91);
    transform: scale(1.05);
    transition: transform 400ms;


}

.btn-small {

    margin: 5px;
}


.crossed-out {
    text-decoration: line-through;
    opacity: 0.6;
}



.page-footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
}

.footer-icons {
    display: flex;
    justify-content: space-evenly;
    position: relative;
}

#showCollapsible {
    position: absolute;
    bottom: 100%;
    left: 0;
    border-radius: 15px;

}

.search-section {
    padding-top: 10px;
    padding-right: 10px;
}


#search-container {
    display: none;

}

#search-submit {
    font-weight: bold;
}




@media only screen and (max-width: 768px) {
    nav .brand-logo {

        font-size: 1.5rem;
    }

    .query-input {
        width: 95%;
    }

    #query-text {
        text-align: left;
    }

    .container-add-todo {
        max-width: 90%;
    }



    .heading {
        padding-left: 10px;
        padding-right: 10px;
    }

    h4 {
        font-size: 30px;
    }


    .logo-check {
        padding-top: 15px;
    }

    .card .card-title {
        font-size: 20px;
    }
}