/* @import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Oxygen:wght@400;700&family=Signika:wght@300;400;500;600;700&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Oxygen:wght@400;700&family=Shantell+Sans:wght@700&family=Signika:wght@300;400;500;600;700&display=swap');

html {
    overflow-x: hidden;
}

body {
    background-image: url("../images/mum_icons_faded1.png");
    background-repeat: repeat;
    background-size: auto;
    background-position: center;
    font-family: Shantell Sans;
    font-weight: 600;



}



nav .brand-logo {
    font-family: Dancing Script;
    font-weight: 700;
    font-size: 2.5rem;
    padding-left: 20px;
}


.top-heading {
    background: hsla(311, 74%, 87%, 1);
    background: linear-gradient(90deg, hsla(311, 74%, 87%, 1) 0%, hsla(275, 19%, 88%, 1) 100%);
    background: -moz-linear-gradient(90deg, hsla(311, 74%, 87%, 1) 0%, hsla(275, 19%, 88%, 1) 100%);
    background: -webkit-linear-gradient(90deg, hsla(311, 74%, 87%, 1) 0%, hsla(275, 19%, 88%, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#F6C4ED", endColorstr="#E1DAE6", GradientType=1);
    margin-top: 20px;
    -webkit-box-shadow: 10px 15px 12px -3px #691E76;
    box-shadow: 10px 15px 12px -3px #691E76;
    border-radius: 30px;


}

.card {
    -webkit-box-shadow: 10px 15px 12px -3px #691E76;
    box-shadow: 10px 15px 12px -3px #691E76;
    border-radius: 30px;
}

.card-panel {

    border-radius: 30px;
}



.container-add-todo {
    max-width: 70%;
    margin: 0 auto;
    background: hsla(311, 74%, 87%, 1);

    background: linear-gradient(90deg, hsla(311, 74%, 87%, 1) 0%, hsla(275, 19%, 88%, 1) 100%);

    background: -moz-linear-gradient(90deg, hsla(311, 74%, 87%, 1) 0%, hsla(275, 19%, 88%, 1) 100%);

    background: -webkit-linear-gradient(90deg, hsla(311, 74%, 87%, 1) 0%, hsla(275, 19%, 88%, 1) 100%);

    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#F6C4ED", endColorstr="#E1DAE6", GradientType=1);
}

.prefix {
    color: purple;
}

.prefix.active {
    color: crimson;
}

.switch label input[type=checkbox]:checked+.lever:after {
    background-color: crimson;
}

.lever:after {
    color: crimson;
}

.flashes h4 {
    line-height: 2;
}

.select-dropdown {
    font-family: Shantell Sans;
}

.btn-small {

    margin: 5px;
}

.crossed-out {
    text-decoration: line-through;
    opacity: 0.6;
}

.delete-all {
    border-radius: 30px;


}



@media only screen and (max-width: 600px) {
    nav .brand-logo {

        font-size: 2.0rem;
    }

    .container-add-todo {
        max-width: 90%;
    }
}