@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Oxygen:wght@400;700&family=Signika:wght@300;400;500;600;700&display=swap');

body {
    background-image: url("../images/mum_icons_faded1.png");
    background-repeat: repeat;
    background-size: auto;
    background-position: center;
    font-family: Oxygen;
    font-weight: 600;

}

.nav-extended {
    background: #DD00C7;
}

.collapsible-body {
    background-color: whitesmoke;
    box-shadow: 14px 20px 10px 0px rgba(170, 21, 170, 0.52);
    -webkit-box-shadow: 14px 20px 10px 0px rgba(170, 21, 170, 0.52);
    -moz-box-shadow: 14px 20px 10px 0px rgba(170, 21, 170, 0.52);
}

nav .brand-logo {
    font-family: Dancing Script;
    font-weight: 700;
    font-size: 2.5rem;
    padding-left: 20px;
}

.container {
    padding-top: 40px;
}

.collapsible {
    padding-top: 40px;
    box-shadow: 14px 20px 10px 0px rgba(170, 21, 170, 0.52);
    -webkit-box-shadow: 14px 20px 10px 0px rgba(170, 21, 170, 0.52);
    -moz-box-shadow: 14px 20px 10px 0px rgba(170, 21, 170, 0.52);
}

.collapsible-header {
    align-items: center;
    margin: 5px;
    line-height: 45px;
}


.container-add-todo {
    max-width: 70%;
    margin: 0 auto;
    background: hsla(311, 74%, 87%, 1);

    background: linear-gradient(90deg, hsla(311, 74%, 87%, 1) 0%, hsla(275, 19%, 88%, 1) 100%);

    background: -moz-linear-gradient(90deg, hsla(311, 74%, 87%, 1) 0%, hsla(275, 19%, 88%, 1) 100%);

    background: -webkit-linear-gradient(90deg, hsla(311, 74%, 87%, 1) 0%, hsla(275, 19%, 88%, 1) 100%);

    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#F6C4ED", endColorstr="#E1DAE6", GradientType=1);
}

.prefix {
    color: purple;
}

.flashes h4 {
    line-height: 2;
}

.btn-small {

    margin: 5px;
}