{% extends "base.html" %}
{% block content %}

<div class="main-content">
    <section class="heading">
        <div class="row">
            <div class="col top-heading s12 m6 center-align offset-m3">

                <h4 class="text-darken-4 center-align">
                    Add Category</h4>
            </div>
        </div>
    </section>

    <div class="row card-panel pink lighten-5 s12 m8 offset-m2 container-add-todo">
        <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('add_category') }}">
            <!--New category-->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fa-regular fa-folder-open prefix text-darken-4"></i>
                    <input id="category_name" name="category_name" minlength="3" maxlength="20" type="text"
                        class="validate" required>
                    <label for="category_name">New Category</label>
                </div>
            </div>

            <!-- submit button -->
            <div class="row">
                <div class="col s12 center-align">
                    <div class="card-action">
                        <a href="{{ url_for('get_categories') }}" class="btn-large buttons purple lighten-1 darken-1">
                            <i class="fa-solid fa-circle-xmark"></i>
                        </a>
                        <button type="submit" class="btn-large buttons purple lighten-1 darken-1"><i
                                class="fa-solid fa-floppy-disk"></i>
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <!--footer-->
    <footer class="page-footer grey lighten-4">
        <div class="container">
            <div class="row">
                <div class="footer-icons">
                    <div class="col m2">
                        <button type="button" class="btn-small purple lighten-1 " onclick="showCollapsible()">
                            <i class="fa-solid fa-filter" id="filter-icon"></i>
                        </button>
                        <ul id="showCollapsible" class="collapsible" style="display:none;">
                            <li>
                                <div class="collapsible-header purple-text center-align">Sort categories:</div>
                                <div class="collapsible-body black-text">
                                    <a href="{{ url_for('get_categories', sort='alphabetical') }}" class="filter-option"
                                        id="alpha-order-categories">alphabetically
                                    </a>
                                </div>
                                <div class="collapsible-body black-text">
                                    <a href="{{ url_for('get_categories', sort='created_by') }}" class="filter-option"
                                        id="user-filter">created by me first</a>
                                </div>

                            </li>
                        </ul>
                    </div>
                    <div class="col m2">
                        <a href="{{ url_for('add_to_do_item') }}" class="btn-small purple lighten-1">
                            <i class="fa-solid fa-plus" id="add-item-icon"></i>
                        </a>
                    </div>
                    <div class="col m2">
                        <a href="{{ url_for('get_to_do_items') }}" class="btn-small purple lighten-1">
                            <i class="fa-solid fa-list-ul" id="list-icon"></i>
                        </a>
                    </div>
                    <div class="col m2">
                        <a href="{{ url_for('signout') }}" class="btn-small purple lighten-1">
                            <i class="fa-solid fa-right-from-bracket" id="signout-icon"></i>
                        </a>
                        </a>
                    </div>
                </div>
                <div>
    </footer>


    {% endblock %}