{% extends "base.html" %}
{% block content %}

<div class="main-content">
    <section class="heading">
        <div class="row">
            <div class="col s12 m6 top-heading center-align offset-m3">
                <h4 class="text-darken-4 center-align">
                    Categories <a href="{{ url_for('add_category') }}" class="btn-floating btn-small purple lighten-1"
                        aria-label="add">
                        <i class="fa-solid fa-plus"></i></a></h4>
            </div>
        </div>
    </section>

    <div class="row">
        {% for category in categories %}
        <div class="col s12 m6">
            <div class="card horizontal center-align pink darken-1 ">
                <div class="card-content white-text">
                    <span class="card-title">{{ category.category_name }}</span>
                </div>
                <!--show edit and delete options only for the categories created by a logged-in user-->
                {% if session.user|lower == category.created_by|lower or session.user|lower == "admin" %}
                <div class="card-action">
                    <a href="{{ url_for('edit_category', category_id=category._id) }}"
                        class="btn-small purple lighten-1" aria-label="Edit category">
                        <i class="fa-solid fa-pen-to-square"></i>
                        <span class="visually-hidden">Edit category</span>
                    </a>
                    <a href="{{ url_for('delete_category', category_id=category._id) }}"
                        onclick="return confirmDeleteCategory();" class="btn-small purple lighten-1"
                        aria-label="Delete category"><i class="fa-solid fa-trash"></i>
                        <span class="visually-hidden">Delete category</span>
                    </a>
                </div>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<!--footer-->
<footer class="page-footer grey lighten-4">
    <div class="container">
        <div class="row">
            <div class="footer-icons">
                <div class="col m2">
                    <button type="button" class="btn-small purple lighten-1" onclick="showCollapsible()"
                        aria-label="Filter categories">
                        <i class="fa-solid fa-filter" id="filter-icon"></i>
                        <span class="visually-hidden">Filter categories</span>
                    </button>
                    <ul id="showCollapsible" class="collapsible" style="display:none;">
                        <li>
                            <div class="collapsible-header purple-text center-align">Sort categories:</div>
                            <div class="collapsible-body black-text">
                                <a href="{{ url_for('get_categories', sort='alphabetical') }}" class="filter-option"
                                    id="alpha-order-categories"
                                    aria-label="Sort categories alphabetically">alphabetically</a>

                            </div>
                            <div class="collapsible-body black-text">
                                <a href="{{ url_for('get_categories', sort='created_by') }}" class="filter-option"
                                    id="user-filter" aria-label="Sort categories created by me first">created by me
                                    first</a>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="col m2">
                    <a href="{{ url_for('add_category') }}" class="btn-small purple lighten-1"
                        aria-label="Add new category">
                        <i class="fa-solid fa-plus" id="add-item-icon"></i>
                        <span class="visually-hidden">Add new category</span>
                    </a>
                </div>
                <div class="col m2">
                    <a href="{{ url_for('get_to_do_items') }}" class="btn-small purple lighten-1"
                        aria-label="View to-do list">
                        <i class="fa-solid fa-list-ul" id="list-icon"></i>
                        <span class="visually-hidden">View to-do list</span>
                    </a>
                </div>
                <div class="col m2">
                    <a href="{{ url_for('signout') }}" class="btn-small purple lighten-1" aria-label="Sign out">
                        <i class="fa-solid fa-right-from-bracket" id="signout-icon"></i>
                        <span class="visually-hidden">Sign out</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>



{% endblock %}