{% extends "base.html" %}
{% block content %}

<section class="heading">
    <div class="row">
        <div class="col top-heading s12 m6 center-align offset-m3">
            <h3 class="top-heading text-darken-4 center-align">
                Categories <a href="{{ url_for('add_category') }}"
                    class="btn-large pink lighten-1 darken-1 text-shadow">
                    <i class="fa-solid fa-circle-plus"></i></a></h3>

        </div>
    </div>
</section>

<div class="row">
    {% for category in categories %}
    <div class="col s12 m4">
        <div class="card darken-4 text-shadow center-align">
            <div class="card-content white-text">
                <span class="card-title">{{ category.category_name }}</span>
            </div>
            <div class="card-action">
                <a href="" class="btn-small purple lighten-1">
                    <i class="fa-solid fa-pen-to-square"></i>
                </a>
                <a href="" class="btn-small purple lighten-1">
                    <i class="fa-solid fa-trash"></i>
                </a>

            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}