{% extends "base.html" %}
{% block content %}

<div class="main-content">
    <section class="heading">
        <div class="row">
            <div class="col top-heading s12 m6 center-align offset-m3">

                <h4 class="text-darken-4 center-align">
                    Edit List Item</h4>
            </div>
        </div>
    </section>

    <div class="row card-panel pink  s12 m8 offset-m2 container-add-todo">
        <form class="col s12 m8 offset-m2" method="POST"
            action="{{ url_for('edit_to_do_item', to_do_item_id=to_do_item._id) }}">

            <!--category selection-->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fa-regular fa-folder-open prefix text-darken-4"></i>
                    <select id="category_name" name="category_name" class="validate" required>
                        <option value="" disabled>Select Category</option>
                        {% for category in categories %}
                        {% if category.created_by|lower == session.user|lower or category.created_by|lower == "admin" %}
                        {% if category.category_name == to_do_item.category_name %}
                        <option value="{{ category.category_name }}" selected>{{ category.category_name }}</option>
                        {% else %}
                        <option value="{{ category.category_name }}">{{ category.category_name }}</option>
                        {% endif %}
                        {% endif %}
                        {% endfor %}

                    </select>
                    <label for="category_name">Category</label>
                </div>
            </div>
            <!--New list item-->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-pencil-alt prefix text-darken-4"></i>
                    <input id="to_do_item" name="to_do_item" minlength="3" maxlength="60"
                        value="{{ to_do_item.to_do_item }}" type="text" class="validate" required>
                    <label for="to_do_item">Edit list item</label>
                </div>
            </div>
            <!--New list item details-->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-align-left prefix text-darken-4"></i>
                    <textarea id="item_details" name="item_details" minlength="3" maxlength="200"
                        class="materialize-textarea validate">{{ to_do_item.item_details }}</textarea>
                    <label for="item_details">Details</label>
                </div>
            </div>
            <!--date picker-->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-calendar-alt prefix  text-darken-4"></i>
                    <input id="due_date" name="due_date" type="text" value="{{ to_do_item.due_date}}"
                        class=" datepicker validate">
                    <label for="due_date">Due Date</label>
                </div>
            </div>
            <!--is important-->
            <div class="row">
                <div class="input-field col s12 m8">
                    <div class="switch">
                        <i class="fa-solid fa-star prefix  text-darken-4"></i>
                        <label for="is_important">
                            {% if to_do_item.is_important == "on" %}
                            <input type="checkbox" id="is_important" name="is_important" checked>
                            {% else %}
                            <input type="checkbox" id="is_important" name="is_important">
                            {% endif %}
                            <span class="lever"></span>
                            Is Important!
                        </label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col s12 center-align">
                    <!--Quit button-->
                    <a href="{{ url_for('get_to_do_items')}}" class="btn-large buttons purple lighten-1"><i
                            class="fa-solid fa-circle-xmark"></i></a>
                    <!--Save button-->
                    <button type="submit" class="btn-large buttons purple lighten-1"><i
                            class="fa-solid fa-floppy-disk"></i>
                    </button>
                </div>
        </form>
    </div>
</div>


<!--footer-->
<div>
    <footer class="page-footer grey lighten-4">
        <div class="container">
            <div class="row">
                <div class="footer-icons">
                    <div class="col m2">
                        <button type="button" class="btn-small purple lighten-1 " onclick="showCollapsible()">
                            <i class="fa-solid fa-filter" id="filter-icon"></i>
                        </button>
                        <ul id="showCollapsible" class="collapsible" style="display:none;">
                            <li>
                                <div class="collapsible-header purple-text center-align">Sort my list:</div>
                                <div class="collapsible-body black-text">
                                    <a href="#" class="filter-option" id="alpha-order-items">alphabetically
                                    </a>
                                </div>
                                <div class="collapsible-body black-text">
                                    <a href="#" class="filter-option" id="category-filter"> by categories</a>
                                </div>

                                <div class="collapsible-body black-text">
                                    <a href="#" class="filter-option" id="imp-order">important
                                        first
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="col m2">
                        <a href="{{ url_for('add_to_do_item') }}" class="btn-small purple lighten-1">
                            <i class="fa-solid fa-plus" id="add-item-icon"></i>
                        </a>
                    </div>
                    <div class="col m2">
                        <a href="{{ url_for('get_categories') }}" class="btn-small purple lighten-1">
                            <i class="fa-solid fa-folder-open" id="categories-icon"></i>
                        </a>
                    </div>
                    <div class="col m2">
                        <a href="{{ url_for('signout') }}" class="btn-small purple lighten-1">
                            <i class="fa-solid fa-user" id="signout-icon"></i>
                        </a>
                        </a>
                    </div>
                </div>
                <div>
    </footer>




    {% endblock %}