{% extends "base.html" %}
{% block content %}
<section class="heading">
    <div class="row">
        <div class="col top-heading s12 m6 center-align offset-m3">

            <h3 class="top-heading text-darken-4 center-align">
                Edit List Item</h3>
        </div>
    </div>
</section>

<div class="row card-panel pink lighten-5 s12 m8 offset-m2 container-add-todo">
    <form class="col s12 m8 offset-m2" method="POST"
        action="{{ url_for('edit_to_do_item', to_do_item_id=to_do_item._id) }}">

        <!--category selection-->
        <div class="row">
            <div class="input-field col s12">
                <i class="fa-regular fa-folder-open prefix text-darken-4"></i>
                <select id="category_name" name="category_name" class="validate" required>
                    <option value="" disabled>Select Category</option>
                    {% for category in categories %}
                    <option value="{{ category.category_name }}" selected>{{ category.category_name }}</option>
                    {% if category.category_name == to_do_item.category_name %}
                    {% else %}
                    <option value="{{ category.category_name }}">{{ category.category_name }}</option>
                    {% endif %}
                    {% endfor %}

                </select>
                <label for="category_name">Category</label>
            </div>
        </div>
        <!--New list item-->
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-pencil-alt prefix text-darken-4"></i>
                <input id="to_do_item" name="to_do_item" minlength="3" maxlength="60"
                    value="{{ to_do_item.to_do_item }}" type="text" class="validate" required>
                <label for="to_do_item">New list item</label>
            </div>
        </div>
        <!--New list item details-->
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-align-left prefix text-darken-4"></i>
                <textarea id="item_details" name="item_details" minlength="3" maxlength="200"
                    class="materialize-textarea validate">{{ to_do_item.item_details }}</textarea>
                <label for="item_details">Details</label>
            </div>
        </div>
        <!--date picker-->
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-calendar-alt prefix  text-darken-4"></i>
                <input id="due_date" name="due_date" type="text" value="{{ to_do_item.due_date}}"
                    class=" datepicker validate">
                <label for="due_date">Due Date</label>
            </div>
        </div>
        <!--is important-->
        <div class="row">
            <div class="input-field col s12 m8">
                <div class="switch">
                    <i class="fa-solid fa-star prefix  text-darken-4"></i>
                    <label for="is_important">
                        {% if to_do_item.is_important == "on" %}
                        <input type="checkbox" id="is_important" name="is_important" checked>
                        {% else %}
                        <input type="checkbox" id="is_important" name="is_important">
                        {% endif %}
                        <span class="lever"></span>
                        Is Important!
                    </label>
                </div>
            </div>
        </div>
        <!-- submit button -->
        <div class="row">
            <div class="col s12 center-align">
                <!--Quit button-->
                <a href="{{ url_for('get_to_do_items')}}" class="btn-large pink lighten-1 darken-1 text-shadow"><i
                        class="fa-solid fa-circle-xmark"></i></a>
                <button type="submit" class="btn-large pink lighten-1 darken-1 text-shadow"><i
                        class="fa-solid fa-pen-to-square"></i></a>
                </button>
            </div>
    </form>
</div>


{% endblock %}