{% extends "base.html" %}
{% block content %}

<section class="heading">
    <div class="row">
        <div class="col s12 m6 top-heading center-align offset-m3">
            <h4>Hi there, Super Mum!</h4>
        </div>
    </div>
</section>


<div class="row">
    <div class="col s12 m8 offset-m2">
        <div class="card-panel pink lighten-1">
            <div class="row valign-wrapper">
                <div class="col s12 m6">
                    <div class="logo">
                        <img id="mum_logo" src="{{ url_for('static', filename='images/mum_logo.png') }}"
                            alt="Mum's To-Do List Logo">
                    </div>
                </div>
                <div class="col s12 m6 welcome-message-small white-text">
                    <h6 class="main-text-small">
                        <span class="app-name center-align"><i class="fa-solid fa-circle-check logo-check"></i> Mum's
                            To-Do List</span> Helping you organise and prioritise your daily
                        tasks.
                    </h6>

                    <br>

                    <div class="start-btn center-align">
                        <a href="{{ url_for('signin') }}" class="btn-large buttons delete-all purple lighten-1"
                            aria-label="get-started">
                            Get Started </a>

                    </div>
                </div>
                <div class="col s12 m6 welcome-message-large white-text">
                    <h6 class="main-text-large">
                        We know you're juggling a million things, .
                        but guess what? You've
                        just found your new best friend:

                        <br>

                        <span class="app-name"><i class="fa-solid fa-circle-check logo-check"></i> Mum's To-Do
                            List</span>

                        <br>

                        Our app will help you organise and prioritise your daily tasks.
                    </h6>

                    <br>

                    <div class="start-btn center-align">
                        <a href="{{ url_for('signin') }}" class="btn-large buttons delete-all purple lighten-1"
                            aria-label="get-started">
                            Get Started </a>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}