{% extends "base.html" %}
{% block content %}

<section class="heading">
    <div class="row">
        <div class="col s12 m6 top-heading center-align offset-m3">
            <h4 class="text-darken-4 center-align"><i class="fa-solid fa-user"></i>
                {{ username }} profile
            </h4>
        </div>
    </div>
</section>

<footer class="page-footer pink lighten-5">
    <div class="container">
        <div class="row">
            <!-- Search Form in Footer -->
            <div class="col s12 m8 offset-m3">
                <form action="{{ url_for('search') }}" method="post">
                    <div class="row">
                        <div class="input-field col s9">
                            <i class="fas fa-search prefix light-blue-text text-darken-4"></i>
                            <input type="text" name="query" id="footer-query" minlength="3" class="validate" required>
                            <label for="footer-query">Search in items and categories</label>
                        </div>
                        <div class="col s3">
                            <button type="submit" class="btn purple lighten-1">
                                <i class="fas fa-search"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="footer-copyright pink darken-1">
        <div class="container">
            © copyright Agy Luczak
        </div>
    </div>
</footer>
</div>


{% endblock %}