{% extends "base.html" %}
{% block content %}

<section class="heading">
    <div class="row">
        <div class="col top-heading s12 m6 center-align offset-m3">

            <h3 class="top-heading text-darken-4 center-align">
                Sign In </h3>
        </div>
    </div>
</section>

<div class="row">
    <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('signin') }}">
        <div class="card-panel">
            <!-- username -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-user-cog prefix text text-darken-4"></i>
                    <input id="username" name="username" type="text" minlength="3" maxlength="15"
                        pattern="^[a-zA-Z0-9]{3,15}$" class="validate" required>
                    <label for="username">Username</label>
                </div>
            </div>
            <!-- password -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-user-lock prefix  text-darken-4"></i>
                    <input id="password" name="password" type="password" minlength="3" maxlength="15"
                        pattern="^[a-zA-Z0-9]{3,15}$" class="validate" required>
                    <label for="password">Password</label>
                </div>
            </div>
            <!-- sign in-->
            <div class="row">
                <button type="submit" class="col s12 btn-large pink lighten-1 text-darken-4 text-shadow">
                    Sign In <i class="fas fa-sign-in-alt"></i>
                </button>
            </div>
        </div>
    </form>
</div>


<div class="row">
    <div class="col s12">
        <p class="center-align">
            Don't have an account? <a href="{{ url_for('register') }}" class="pink-text text-darken-4">Register</p>
        </p>
    </div>
</div>

{% endblock %}