{% extends "base.html" %}
{% block content %}

<div class="main-content">
    <section class="heading">
        <div class="row">
            <!-- My List Heading -->
            <div class="col s12 m6 top-heading center-align offset-m3">
                <h4 class="text-darken-4 center-align">
                    {{ username }}'s list
                    <a href="{{ url_for('add_to_do_item') }}" class="btn-floating btn-small purple lighten-1"
                        aria-label="add">
                        <i class="fa-solid fa-plus"></i>
                    </a>
                </h4>
            </div>

    </section>

    <div class="row">
        {% for item in to_do_items %}
        <!--display only items created by a logged-in user-->
        {% if session.user|lower == item.created_by|lower %}
        <div class="col s12 m8 offset-m2">
            <div class="card horizontal pink lighten-1">
                <div class=" card-content white-text">
                    <span class="card-title activator {% if item.is_crossed_out %}crossed-out{% endif %}">
                        {{ item.to_do_item}} ({{item.category_name}})
                        {% if item.is_important == "on" %}
                        <i class="fa-solid fa-star"></i>
                        {% endif %}
                    </span>
                </div>
                <div class="card-reveal pink lighten-5">
                    <span class="card-title">
                        <i class="material-icons right">close</i>
                    </span>
                    <time>due date: {{ item.due_date }}</time>
                    <p>details: {{ item.item_details }}</p>
                </div>

                <div class="card-action">
                    <a href="{{ url_for('toggle_cross_out', item_id=item._id) }}" class="btn-small purple lighten-1"
                        aria-label="check">
                        <i class="fa-solid fa-circle-check"></i></a>

                    <a href="{{ url_for('edit_to_do_item', to_do_item_id=item._id) }}"
                        class="btn-small purple lighten-1" aria-label="edit">
                        <i class="fa-solid fa-pen-to-square"></i>
                    </a>
                    <a href="{{ url_for('delete_to_do_item', to_do_item_id=item._id) }}"
                        onclick="return confirmDeleteItem();" class="btn-small purple lighten-1 " aria-label="delete">
                        <i class="fa-solid fa-trash"></i>
                    </a>
                </div>
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>



    <div class="delete-checked-button center-align">
        <a href="{{ url_for('delete_checked_items') }}" onclick="return confirmDeleteAllChecked();"
            class="btn-large buttons delete-all purple lighten-1" aria-label="delete-all-checked">Delete All
            Checked
            Items
            <i class="fa-solid fa-trash"></i></a>

    </div>
    <div>

        <footer class="page-footer grey lighten-4">
            <div class="container">
                <div class="row">
                    <div class="footer-icons">
                        <div class="col m2">
                            <button type="button" class="btn-small purple lighten-1 " onclick="showCollapsible()">
                                <i class="fa-solid fa-filter" id="filter-icon"></i>
                            </button>
                            <ul id="showCollapsible" class="collapsible" style="display:none;">
                                <li>
                                    <div class="collapsible-header purple-text center-align">Sort by:</div>
                                    <div class="collapsible-body black-text">
                                        <a href="#" class="filter-option" id="alpha-order-items">alphabetical
                                            order</a>
                                    </div>
                                    <div class="collapsible-body black-text">
                                        <a href="#" class="filter-option" id="category-filter">categories</a>
                                    </div>

                                    <div class="collapsible-body black-text">
                                        <a href="#" class="filter-option" id="imp-order">important
                                            first
                                        </a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="col m2">
                            <a href="{{ url_for('add_to_do_item') }}" class="btn-small purple lighten-1">
                                <i class="fa-solid fa-plus" id="add-item-icon"></i>
                            </a>
                        </div>
                        <div class="col m2">
                            <a href="{{ url_for('get_categories') }}" class="btn-small purple lighten-1">
                                <i class="fa-solid fa-folder-open" id="categories-icon"></i>
                            </a>
                        </div>
                        <div class="col m2">
                            <a href="{{ url_for('signout') }}" class="btn-small purple lighten-1">
                                <i class="fa-solid fa-user" id="signout-icon"></i>
                            </a>
                            </a>
                        </div>
                    </div>
                    <div>
        </footer>






        {% endblock %}