{% extends "base.html" %}
{% block content %}

<section class="heading">
    <div class="row">
        <div class="col top-heading s12 m6 center-align offset-m3">

            <h3 class="text-darken-4 center-align">
                My List <a href="{{ url_for('add_to_do_item') }}" class="btn-floating btn-large purple lighten-1">
                    <i class="fa-solid fa-plus"></i></a></h3>
        </div>
    </div>
</section>
<div class="row">
    {% if to_do_items|length > 0 %}
    {% for item in to_do_items %}
    <div class="col s12 m8 offset-m2">

        <div class="card horizontal pink lighten-1">
            <div class=" card-content white-text">
                <span class="card-title activator">{{ item.to_do_item }}
                    {% if item.is_important == "on" %}
                    <i class="fa-solid fa-star"></i>
                    {% endif %}
                    <i class="material-icons right">subject</i>
                </span>
            </div>
            <div class="card-reveal pink lighten-5">
                <span class="card-title">
                    <i class="material-icons right">close</i>
                </span>
                <time>due date: {{ item.due_date }}</time>
                <p>details: {{ item.item_details }}</p>
            </div>

            <div class="card-action">
                <a href="#" class="btn-small purple lighten-1" onclick="toggleCrossOut(this)"><i
                        class="fa-solid fa-circle-check"></i></a>
                <a href="{{ url_for('edit_to_do_item', to_do_item_id=item._id) }}" class="btn-small purple lighten-1">
                    <i class="fa-solid fa-pen-to-square"></i>
                </a>
                <a href="{{ url_for('delete_to_do_item', to_do_item_id=item._id) }}"
                    onclick="return confirmDeleteItem();" class="btn-small purple lighten-1 ">
                    <i class="fa-solid fa-trash"></i>
                </a>

            </div>
        </div>
    </div>

    {% endfor %}
    {% else %}
    <div class="col s12 m8">
        <p>The list is empty!</p>
    </div>
    {% endif %}
</div>
</div>

{% endblock %}